<header class="align-top">
  <div class="container">
    <a routerLink="/" class="logo navbar-brand">Joshua Fung</a>
    <nav class="navbar-expand-md">
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/projects">Projects</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="background">
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</div>
<footer class="align-bottom">
  <p style="color: white">Some words</p>
</footer>
