<header class="align-top row">
  <div class="container">
    <a routerLink="/" class="logo navbar-brand">Joshua Fung</a>
    <nav class="">
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/projects">Projects</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class=" background row">
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</div>
<footer class="align-bottom row">
  <p style="color: #30B84E; margin-left: 10%">Some words</p>
</footer>
