@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
$header-colour: #30B84E;

/* * {
  border: red;
  border-radius: 1px;
  border-style: solid;
} */

body, html{
  height: 100%;
}
app-root{
  min-height: 100%;
  display: grid;
}

main {
  margin: 0;
  font-family: 'Nunito', 'sans-serif';
  font-size: 18px;
}

.container {
  width: 80%;
  color: white;
}

header {
  background: $header-colour;


  a{
    color: white;
    text-decoration: none;
  }
  a.logo {
    font-weight: lighter;
    padding: 5px;
  }
  a:hover{
    background: darken($header-colour, 10%);
    color: white;
    text-decoration: none;
  }

  nav {
    float: right;
    ul {
      list-style-type: none;
      margin: 9px 0;
      display: flex;
      li a {
        padding: 9px 10px;
        &:hover {
          background: darken($header-colour, 10%);
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}


.background{
  background-color: black;
  min-height: 100%;
}

footer{
  background-color: #30B84E;

}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
