<script src="src/assets/JS/home.js"></script>
<div class="container">
  <h1><strong>Joshua Fung</strong></h1>
  <h2 id="job">Software Developer @ Lockheed Martin</h2>
  <h2 id="uni">Dalhousie University</h2>
</div>
<div class="container flex-grow-1 icons">
  <mat-card>
    <mat-card-title>Github</mat-card-title>
    <img mat-card-image alt="logo" src="../assets/images/github-logo.png">
    <mat-card-actions><span class="material-icons"><a href="https://github.com/Plump-Panda/">trending_flat</a></span></mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Outlook</mat-card-title>
    <img mat-card-image alt="logo" src="../assets/images/outlook-logo.png">
    <mat-card-actions><span class="material-icons"><a onclick="copyEmail()" href="#">assignment</a></span><input style="display:none;" type="text" value="js404839@dal.ca" id="email"></mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Résumé</mat-card-title>
    <img mat-card-image alt="logo" src="../assets/images/resume-logo.png">
    <mat-card-actions><span class="material-icons"><a href="../assets/resume.pdf">description</a></span></mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Linked In</mat-card-title>
    <img mat-card-image alt="logo" src="../assets/images/linkedIn-logo-smaller.png">
    <mat-card-actions><span class="material-icons"><a href="https://www.linkedin.com/in/joshua-fung-155b27175/?originalSubdomain=ca">trending_flat</a></span></mat-card-actions>
  </mat-card>
  <!--
  <div id="github">
    <h3><a href="https://github.com/Plump-Panda/">Github</a></h3>
    <a href="https://github.com/Plump-Panda/"><img src="../assets/images/github-logo.png" alt="Github Logo"></a>
  </div>
  <div id="linkedin">
    <h3><a href="https://www.linkedin.com/in/joshua-fung-155b27175/?originalSubdomain=ca">LinkedIn</a></h3>
    <a href="https://www.linkedin.com/in/joshua-fung-155b27175/?originalSubdomain=ca"><img src="../assets/images/linkedIn-logo-smaller.png" alt="LinkedIn Logo"></a>
  </div>
   <div id="outlook">
    <h3 onclick="copyEmail()"><a href="#">Outlook</a></h3>
    <img onclick="copyEmail()" src="../assets/images/outlook-logo.png" alt="Outlook Logo">
    <input style="display:none;" type="text" value="js404839@dal.ca" id="email">
  </div>
  <div id="resume">
    <h3><a href="../assets/resume.pdf">Résumé</a></h3>
    <a href="../assets/resume.pdf"><img src="../assets/images/resume-logo.png" alt="Résumé Logo"></a>
  </div>
  -->
</div>

