<script src="src/assets/JS/home.js"></script>
<div class="container">
  <h1><strong>Joshua Fung</strong></h1>
  <h2 id="job">Software Developer @ Lockheed Martin</h2>
  <h2 id="uni">Dalhousie University</h2>
</div>
<div class="container flex-grow-1 icons">
  <div id="github">
    <h3><a href="https://github.com/Plump-Panda/">Github</a></h3>
    <a href="https://github.com/Plump-Panda/"><img src="../assets/images/github-logo.png" alt="Github Logo"></a>
  </div>
  <div id="linkedin">
    <h3><a href="https://www.linkedin.com/in/joshua-fung-155b27175/?originalSubdomain=ca">LinkedIn</a></h3>
    <a href="https://www.linkedin.com/in/joshua-fung-155b27175/?originalSubdomain=ca"><img src="../assets/images/linkedIn-logo-smaller.png" alt="LinkedIn Logo"></a>
  </div>
  <div id="outlook">
    <h3 onclick="copyEmail()"><a href="#">Outlook</a></h3>
    <img onclick="copyEmail()" src="../assets/images/outlook-logo.png" alt="Outlook Logo">
    <input style="display:none;" type="text" value="js404839@dal.ca" id="email">
  </div>
  <div id="resume">
    <h3><a href="../assets/resume.pdf">Résumé</a></h3>
    <a href="../assets/resume.pdf"><img src="../assets/images/resume-logo.png" alt="Résumé Logo"></a>
  </div>
</div>

